<div  class="body">
    <div class="main-content">
        <div class="container-fluid">
    <button class="btn btn-warning" type="submit" (click)="salir()"><i class="material-icons"style="font-size:36px">settings_power</i>&nbsp;SALIR</button>
    <button class="btn btn-info" type="submit"(click)="goBack()"><i class="material-icons"style="font-size:36px">settings_backup_restore</i>&nbsp; VOLVER</button>
</div>
</div>
    <br>
    <br>
<div class="main-content">
    <div class="container-fluid">
      
      <div class="login">
      
        <div class="container mt-8">
      
        
        <div class="row">
            <div class="col-lg-10 offset-lg-1" >
              <div align="center">
              <img src="https://static.wixstatic.com/media/b5433a_f22420b34af44a1e869f192d47f73db8~mv2.png/v1/fill/w_1536,h_213,al_c,lg_1,q_85/SubaLab-Web_20210817.webp" style="width:auto;height:80px;object-fit:cover; align-items: center;"> 
        </div>
    </div>
</div>
<br><br>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">TABLA CUENTAS DE COBRO</h4>
                        <p class="card-category">Personal a cargo del Supervisor</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        CEDULA
                                    </th>
                                    <th>
                                        NOMBRE
                                    </th>
                                    <th>
                                        N° CONTRATO
                                    </th>
                                    <th>
                                        AREA
                                    </th>
                                    <th>
                                        ESTADO
                                    </th>
                                    <th>
                                        DETALLES
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1013640363
                                        </td>
                                        <td>
                                            DANIEL RENE SANCHEZ MORALES
                                        </td>
                                        <td>
                                            337-022
                                        </td>
                                        <td>
                                            SISTEMAS
                                        </td>
                                        <td class="text-primary">
                                           sin aprobar
                                        </td>
                                        <td class="text-primary">
                                            <button class="btn btn-info" type="submit"onclick="window.location.href='https:/gobiernobogota-my.sharepoint.com/:f:/g/personal/rene_sanchez_gobiernobogota_gov_co/EndZnAyIpGRDuf6tKp6k84IBV8Yq5u5IF1jdJ1fXqEgzew?e=pIgkqm'"> VER</button>
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
  </div>
  <br>
    <button class="btn btn-info" type="submit"(click)="goBack()"><i class="material-icons"style="font-size:36px">settings_backup_restore</i>&nbsp; VOLVER</button>
  <br>
  <br>
  <div align="center">
  <img src="https://static.wixstatic.com/media/b5433a_dfdc32bae6dd41578c53747712aa901c~mv2.png/v1/fill/w_233,h_60,al_c,q_85,usm_0.66_1.00_0.01/b5433a_dfdc32bae6dd41578c53747712aa901c~mv2.webp" style="width:auto;height:auto;object-fit:cover;">
</div>
    </div>
</div>
</div>
<br>
</div>
</div>
