
       <div class="example-card">
        <mat-card class="example-card">
            <mat-card class="example-card">
                <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> 
                <br>
                         {{variableheredada.nombres}} 
            </mat-card-title>     
            </mat-card-header>
        </mat-card>
            
        
            <mat-card-content  >
            
              <div class="row">
                  
                <div class="col-lg-6 col-md-6 col-sm-6" >
                  <div class="card card-stats" >
                      <div class="card-header card-header-info card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">assignment_ind</i>
                          </div>
                          
                          <p class="card-category">CEDULA</p>
                          <div>
                          <h3 class="card-title">{{variableheredada.cedula}}</h3>
                        </div>
                         
                   
                      </div>
                    
                  </div>
              </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">phone</i>
                            </div>
                            <p class="card-category">TELEFONO</p>
                            <h3 class="card-title">{{variableheredada.telefono}}</h3>
                        </div>
                     
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-info card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">home</i>
                          </div>
                          <p class="card-category">DIRECCIÓN</p>
                          <h3 class="card-title">{{variableheredada.direccion}}</h3>
                      </div>
                    
                  </div>
              </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">work</i>
                            </div>
                            <p class="card-category">ÁREA</p>
                            <h3 class="card-title">{{variableheredada.nam_AREA}}</h3>
                        </div>
                     
                    </div>
                </div>
              </div>
             
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">warning</i>
                            </div>
                            <p class="card-category">RIESGO ARL</p>
                            <h3 class="card-title">{{variableheredada.id_RIESGO}}</h3>
                        </div>
                     
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">account_balance</i>
                            </div>
                            <p class="card-category">BANCO</p>
                            <h3 class="card-title">{{variableheredada.name_BANCO}}</h3>
                        </div>
                     
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-info card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">account_balance_wallet</i>
                          </div>
                          <p class="card-category">TIPO DE CUENTA</p>
                          <h3 class="card-title">{{variableheredada.tipo_CUENTA}}</h3>
                      </div>
                    
                  </div>
              </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">chrome_reader_mode</i>
                            </div>
                            <p class="card-category">NUMERO DE CUENTA</p>
                            <h3 class="card-title">{{variableheredada.n_CUENTA_BANCO}}</h3>
                        </div>
                     
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                      <div class="card-header card-header-info card-header-icon">
                          <div class="card-icon">
                              <i class="material-icons">supervisor_account</i>
                          </div>
                          <p class="card-category">SUPERVISOR</p>
                          <h3 class="card-title">{{variableheredada.name_SUPER}}</h3>
                      </div>
                    
                  </div>
              </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment_turned_in</i>
                            </div>
                            <p class="card-category">PROYECTO</p>
                            <h3 class="card-title">{{variableheredada.id_PROYECTO}}</h3>
                        </div>
                     
                    </div>
                </div>
              </div>

                          
            </mat-card-content>
            <img align="right" width="50" src="https://cdn.pixabay.com/photo/2014/04/03/10/29/arrow-right-310628_960_720.png"/>
            <br>
             </mat-card>
        
             
             
            </div>